// Colors

// Primary

$gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

// Neutral

$soft-purple: hsl(240, 78%, 98%);
$gray: hsl(234, 14%, 74%);
$purple-gray: hsl(233, 13%, 49%);
$dark-gray : hsl(232, 13%, 33%);
$purple:hsl(237, 63%, 64%);
